@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .title {
    text-align: center;
    padding: 28px 0 32px;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 40%;
      background-color: $accent-color;
      width: 118px;
      height: 3px;
    }
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 40%;
      background-color: $accent-color;
      width: 118px;
      height: 3px;
    }
  }
}